html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: #f8f8f8;
  border-radius: 16px;
  padding: 32px;
  width: 624px;
  
  margin: 16px;
}
.person {
  display: flex;
}
.person__picture {
  align-self: flex-start;
  padding-right: 32px;
}
.person__name {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  
}
.person__jobTittle {
  color: #545454;
  margin: 0;
  font-style: italic;
  font-size: 18px;
  
}
.person__description {
    line-height: 22px;
    font-size: 16px;
    margin: 0;
    padding-top: 24px;
    font-weight: normal;
}

.person__description--link {
  
  text-decoration: none;
  color: #e20613;
}
.special {
  color: #ed6d05;
  font-weight: normal;
}
