html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .body {
      background-color: #2C2141;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .main {
    background-color: #F8F8F8;
    border-radius: 16px;
    padding: 32px;
    width: 624px;
    font-family: Arial, normal;
  }
  .person {
      
     
  }
  .person__name {
      

  }
  .person__jobTittle {
      color: #545454;
    margin-bottom: 24px;
  }
  .person__description {
margin-bottom: 22px;
  }
  .person__description--link {
      font-style: normal;
      text-decoration: none;
      color: #E20613;

  }
  .special {
      color: #ED6D05;
      font-style: normal;
      text-decoration: none;

  }