html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .body {
      background-color: #2C2141;
      display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .main {
    background-color: #F8F8F8;
    border-radius: 16px;
    padding: 32px;
    width: 624px;
    font-family: Arial, normal;
   
  }
  .person {
      
    display: flex;
    
    
    
  }
  .person__picture {
    align-self: flex-start;
    
    
  }
  .person__name {
      margin-top: 0;
      margin-bottom: 0;

  }
  .person__jobTittle {
      color: #545454;
    
  }
  .person__description {

  }
  .person__description--link {
      font-style: normal;
      text-decoration: none;
      color: #E20613;

  }
  .special {
      color: #ED6D05;
      font-style: normal;
      text-decoration: none;

  }